---
layout: default
lang: en
title: "My Resume - English"
---
{% assign lang = site.data[page.lang].data_sporty %}
<!--DEBUG-->
<!--<pre>-->
<!--{{ lang | jsonify }}-->
<!--</pre>-->
{% include career-profile.html lang=lang %}

{% assign details-project = lang.sidebar.details-project %}

<pre>
  page.lang = {{ page.lang  }}
  Details project flag  {{ lang | jsonify}}
<!--  Site data {{ site.data | jsonify }}-->
  Lang {{ lang | jsonify }}
  Education {{lang.data.sidebar.education| jsonify }}

</pre>

{% unless lang.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html lang=lang details-project=details-project%}

{% include projects.html lang=lang %}

{% include publications.html lang=lang %}

{% include skills.html lang=lang %}
