{% assign career_data = include.career-node | default: site.data[page.lang].data %}
{% assign career_profile = career_data.career-profile %}

{% if career_profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career_profile.title }}
  </h2>

  <div class="summary">
    {{ career_profile.summary | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
