// Palette from https://www.ehalsomyndigheten.se/main.ehmext.css
$theme-color: hsl(230, 35%, 21%);
$ehm-accent: hsl(61, 81%, 69%);
$ehm-profile: hsl(228, 39%, 33%);
$ehm-link: #0865ae;
$text-color: hsl(226, 71%, 11%);
$text-color-secondary: hsl(220, 8%, 35%);
$text-grey: hsl(220, 8%, 35%);
$divider: hsl(218, 60%, 87%);
$lighter-grey: #ccc;
$darker-grey: #555;
$smoky-white: hsl(38, 31%, 95%);
$heart: $theme-color;
