/* Region Kalmar red and yellow palette */
$theme-color: #c8102e;
$text-color: #2c2a29;
$text-color-secondary: #565554;
$text-grey: #68645e;
$divider: #d3cec9;
$lighter-grey: #b6ada5;
$darker-grey: #565554;
$smoky-white: #f0efed;
$heart: #ffcd00;
