---
layout: default
lang: sv
title: "Mitt CV - Svenska"
template: data
---
{% assign lang = site.data[page.lang][page.template] %}
<!--DEBUG-->
<!--<pre>-->
<!--{{ lang | jsonify }}-->
<!--</pre>-->
{% include career-profile.html career-node=lang  %}

{% include education.html %}

{% assign details-project = lang.sidebar.details-project %}


{% include experiences.html lang=lang details-project=details-project%}

{% include projects.html lang=lang %}

{% include publications.html lang=lang %}

{% include skills.html lang=lang %}
